.highlight {
    background-color: rgb(194, 144, 144);
    color: white;
    border: 1px solid #d2d2bf;
    border-radius: 20%;
    margin-bottom: 5px;
}

.card-img-top{
    transition: all 0.2s ease-in-out;
}
.card-img-top:hover {
    transform: scale(110%);
}
.card-body{
    background-color: rgb(245, 230, 211);
}
#section1 {
    background-image: url(./brooke-lark-4ELjpkrMpHg-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
#section2{
    background-color: #d2d2bf;
    background-size: cover;
    background-position:0cqmax;
}

#section3{
    background-image: url(./kaouther-djouada-hcEDfkiVmMI-unsplash.jpg);
}
.artimage:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(110%);
}
#section4{
    background-color: rgb(236, 229, 130);
}

.edited{
    background-color: white;
}